# Directories
/.idea
/.vscode
/.well-known
/_upd
/bitrix
/cgi-bin
/images
/site_*
/temp
/test
/testbx
/tmp
/upload

# Files
/.htaccess
/.htaccess_back
/.htpasswd
/.htsecure
/.ftpaccess
/*.csv
/*.html
/*.old
/*.restore
/*.sql
/*.xml
/bitrix_server_test.php
/bxtest.php
/google*.php
/restore.php
/test.php
/test*.php
.DS_Store
Thumbs.db
*.cfg
*.config
*.doc
*.docx
*.ini
*.gz
*.log
*.pdf
*.ppt
*.pptx
*.rar
*.tar*
*.tgz
*.txt
*.xls
*.xlsx
*.zip